/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-06-23, 12:57:26
    Author     : Piotrek
*/

@CHARSET "UTF-8";

    @import url('https://fonts.googleapis.com/css?family=Rubik');
    html, body {
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        box-sizing:border-box;
        background-color: #111;
        color: #ccc;
    }
    
    .userdiv {
        height: 50%;
        background-color: #222;
        background: #222; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#222, #111); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#222, #111); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#222, #111); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#222, #111); /* Standard syntax */
        border-radius: 5px;
        padding: 15px;
    }
    
    .leftpanel {
        width: 30%;
        height: 100%;
        float: left;
        padding-right: 25px;
    }
    
    .leftpanel img {
        margin: 10px;
        width: 100%;
        max-height: 200px;
        max-width: 300px;
        height: auto;
    }
    
    .rightpanel {
        padding: 5px;
        display: block;
        height: 100%;
        width: 70%;
    }
    
    .leftpaneluser {
        padding: 10px;
        display: block;
        width: 35%;
        max-width: 210px;
        height: 100%;
        float: left;
    }
    
    .leftpaneluser img {
        width: 100%;
        max-height: 200px;
        max-width: 200px;
        height: auto;
    }
    
    .rightpaneluser {
        float: left;
        width: 50%;
        padding: 5px;
        display: block;
        height: 100%;
    }
    
    .username {
        font-size: 28px;
        font-weight: bold;
    }
    
    .achievementicon {
        border: 1px solid dimgray;
        margin: 1px;
    }
    
    a {
        color: #eee;
        text-decoration: none;
    }
    
    .clear {
      clear: both;
    }
    
    .maindiv {
        width: 60%;
        margin: 0 auto;
        padding: 10px;
        height: 100%;
        background-color: #1b2838;
    }
    
    .stat {
        color: #e18844;
    }
    
    .spinner {
        margin: 100px auto 0;
        width: 80px;
        text-align: center;
      }

    .spinner > div {
      width: 20px;
      height: 20px;
      background-color: #cccccc;
      border: 2px solid #bbbbbb;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
      animation: sk-bouncedelay 1.2s infinite ease-in-out both;
    }

    .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }

    @-webkit-keyframes sk-bouncedelay {
      0%, 80%, 100% { -webkit-transform: scale(0) }
      40% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bouncedelay {
      0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
      } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
      }
    }
    
    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
    }

    @-webkit-keyframes animatebottom {
      from { bottom:-200px; opacity: 0 } 
      to { bottom:0px; opacity: 1 }
    }

    @keyframes animatebottom { 
      from{ bottom:-200px; opacity:0 } 
      to{ bottom:0; opacity:1 }
    }

    #contentDiv {
      display: none;
      line-height: 95%;
    }
    
    summary:focus {
        border: none;
    }
    
    summary:active {
        border: none;
    }
    